*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.debugging {
    border:1px solid black;
}


.grid-container {
    display: grid;
    grid-template-areas: 
    "side-bar header"
    "side-bar content"
    "footer footer";
    grid-template-rows: 50px 1fr 200px;
    grid-template-columns: 300px 1fr;
    height: 100vh; /* Make the grid container fill the entire viewport height */

}


.header,
.side-bar,
.content,
.footer {
    border: 1px solid black;
    border-radius: 2px;
}


.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
}
.header-contact-info {
    display: flex;
    gap: 10px;

}
.header-logo {

}


.side-bar {
    grid-area: side-bar;
    background-color: #181F47;
    padding: 20px;
    color: white;
}


.content {
    background-color: #E9EEF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.content-card {
    grid-area: content;
    width: 70%;
    height: auto;
    background-color: #FFFFFF;
    padding: 40px;
    margin: 10px;
    border-radius: 30px;
    
}
.content-card-header {
    margin: 10px 20px 30px 20px;
}
.content-card-2-elements {
    grid-area: content;
    display: flex;
    width: 70%;
    height: auto;
    background-color: transparent;
    padding: 40px;
    margin: 10px;
    border-radius: 30px;
    
}
.content-card-2-elements {
    flex-basis: 50%;
    background-color: #FFFFFF;
    border: 1px solid black
}
.content-divider-card {
    grid-area: content;
    width: 100%;
    height: 200px;
    background-color: blue;
    padding: 40px;
    margin: 20px 0px 20px 0px;
    border-radius: 0px;
    text-align: center;
}


.footer {
    grid-area: footer;
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}